body {
	margin-left: auto;
	margin-right: auto;
	width: 45em
}

html, body {
	height: 100%;
	padding: 0;
	line-height: 1.6;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}


a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: cornflowerblue;
}