{% extends 'base_template.html' %}

{% block extraCSS %}
    <style>
        p {
            margin:0
        }
        #writeButton {
            position: fixed;
            bottom: 5%;
            right: 3%;
            width: 60px;
            height: 35px;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% for post in posts %}
        <h2>{{ post.question }}</h2>
        <div style="overflow: hidden;">
            <p style="float: left;">{{ post.pub_date }}</p>
            <p style="float: right;">
                <span onclick="editPost({{ post.pk }})" style="color: dodgerblue">Edit</span>
                &nbsp;&nbsp;&nbsp;
                <span onclick="deletePost({{ post.pk }})" style="color: red">Delete</span>
            </p>
        </div>
        <hr>
    {% endfor %}
    <div id="writeButton" onclick="window.location.replace('/write')">Write</div>
{% endblock %}
